/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #141414;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.navbar {
  background-color: #000000 !important;
  border-bottom: 3px solid #e50914;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.navbar-dark .navbar-brand:hover {
  color: #e50914 !important;
}

.main-content {
  flex: 1;
  border-radius: 90px;
  padding-bottom: 60px; 
}


.auth-card {
  background-color: #000000;
  padding: 40px;


}
.btn-netflix {
  background-color: #e50914;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
}

.btn-netflix:hover {
  background-color: #f40612;
}

.signup-link {
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  float: left;
  margin-top: 15px;
}


.text-center {
  margin-top: 15px;
}

.auth-card h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-control {
  background: #333 !important;
  display: flex;
  align-items: center;
  color: #fff !important;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
    
}

button {
  width: 100%;
}

.text-center {
  text-align: center;
}

.form-control:focus {
  box-shadow: 0 0 0 2px #e50914 !important;
}



.btn-netflix {
  background: #e50914;
  color: white;
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}

.btn-netflix:hover {
  background: #c40812;
  color: white;
}

/* Signup specific */
.signup-link {
  color: #737373;
  text-decoration: none;
}

.signup-link:hover {
  color: #e50914;
}

/* Error messages */
.alert-danger {
  background: #e50914 !important;
  border: none;
  color: white;
}



.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: -19px;
  top: 68%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

