{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="form-container">
    <div class="auth-card">
        <h2 class="text-center">Login</h2>

        {% if error %}
            <div class="alert alert-danger mb-4">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            
            <div class="username">
                <label class="form-label mb-2">Username or Email</label>
                <input type="text" name="username" class="form-control" required>
                {% for error in form.username.errors %}
                    <div class="text-danger small mt-1">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <div class="password-container">
                    <input type="password" name="password" class="form-control" required>
                    <i class="eye-icon" id="togglePassword" onclick="togglePassword('password')">&#128065;</i>
                </div>
                {% for error in form.password.errors %}
                    <div class="text-danger small mt-1">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="btn-netflix w-100 mt-4">Sign In</button>

            <div class="mt-4 text-center">
                <span class="text-muted">New to MySite? </span>
                <a href="{% url 'signup' %}" class="signup-link">Sign up now</a>
            </div>
        </form>
    </div>
</div>

<script>
   
</script>

{% endblock %}
