{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="auth-card">
        <h2>Sign In</h2>
        
        {% if error %}
            <div class="alert alert-danger mb-4">{{ error }}</div>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label class="form-label">Username or Email</label>
              <input type="text" name="username" class="form-control" required>
          </div>
      
          <div class="mb-4">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control" required>
          </div>
      
          <button type="submit" class="btn btn-primary w-100 py-2">Sign In</button>
      
          <div class="mt-4 text-center">
              <span class="text-muted">New to MySite? </span>
              <a href="{% url 'signup' %}" class="signup-link text-primary">Sign up now</a>
          </div>
      </form>
      
    </div>
</div>
{% endblock %}